################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Univesp_ProjetoIntegrador_Pizzaria/.vs
